.article {
    margin: 0px 10px;
    color: #333;
    font: 25px/2 'Oswald', sans-serif;
}

.article__header {
    margin: 0px 10px;
    color: rgb(189, 151, 80);
    font: 35px/2 'Oswald', sans-serif;
    text-indent: 50px;
    text-decoration-line: underline;
    text-decoration-color: rgb(142, 84, 8);
    text-decoration-style: double;
}

.article__header--background {
    background-color: rgb(208, 190, 168);
}

.article__header--boldItalic {
    font-weight: 800;
    font-style: italic;
}