.link {
    margin: 20px;
    padding: 5px;
    color: rgb(104, 62, 0);
}

.link:visited {
    color: rgb(104, 62, 0);
    list-style-type: disc;
}

.link:focus {
    outline: 2px solid currentColor
}

.link:hover {
    color: rgb(82, 5, 5);
}

.link:active {
    color: rgb(160, 9, 9);
}