html {
    box-sizing: border-box;
}

*,
::after,
::before {
    box-sizing: inherit;
}

/* every single element with its margins, paddings etc. will now be treated as a whole box for specifications like width, high etc.*/


.container {
    margin: 0 10%;
    color: #333;
    background-color: rgb(208, 201, 168);
    font: 25px/2 'Oswald', sans-serif;
}

.header {
    text-align: center;
    width: 800;
    padding: 0px 15px;
    color: rgb(189, 151, 80);
    text-shadow: 2px 3px 3px #888;
    background-color: rgba(1, 1, 1, 0.801);
}

.subHeader {
    width: 100%;
    text-shadow: 5px #888;
}

.addition {
    color: rgb(198, 192, 189);
}

.element {
    display: block;
    width: 100%;
    margin: 0 auto;
    max-width: 1200px;
    border: 8px solid rgba(114, 48, 4, 0.226);
    box-shadow: 29px 14px 90px 2px rgba(109, 77, 8, 0.555);
}

.list {
    background-color: rgba(109, 77, 8, 0.247);
    list-style-type: disc;
}